
<% if @words %>
    <% @words.score.each do |word| %>
      <%= word %> <br>
    <% end %>
<% end %>

<div class="params">
  <%= params %>
</div>

<p>Enter words to score.</p>

<form action="" method="post" accept-charset="utf-8" name="many_form">
  <label for="many_form">Enter Words</label>
  <textarea name="many_form" rows="10" cols="30"></textarea>

  <input type="submit" value="Score 'em!">
</form>
