

 <!-- <div class="params">
   <%= params %>
 </div> -->

<div class="form">
   <fieldset>
     <legend>Enter a word:</legend>
       <form action="" method="post" accept-charset="utf-8">
         <label for="user_input"></label>
         <input class="input_area" type="text" name="word_to_score[word]" value="" id="user_input">

         <input class="button" type="submit" value="Score it!">
       </form>
   </fieldset>
 </div>

 <article class="result">
   <% if @word %>
   <p> <span class="word"><%= @word.word %></span> is worth <%= @word.score %> points. </p>
   <% end %>
 </article>
