<% if @word %>
  <h1>
    How many points is <%= @word.word %> worth?
  </h1>
  <p> <%= @word.word %> is worth <%= @word.score %> </p>
<% end %>

<div class="params">
  <%= params %>
</div>

<p>Enter words to score.</p>

<form action="action_page.php">
  <textarea name="words" rows="10" cols="30"></textarea>
  <br>
  <input type="submit" value="Score 'em!">
</form>
